main {
  padding: 2rem 18rem;
  background: #f6f5f5;
  height: 100%;

  header {
    display: flex;

    section {
      display: flex;
      flex-direction: column;
      h1 {
        font-weight: 500;
        font-size: 2rem;
        color: #232323;
      }
      span {

        font-size: 1.2rem;
        color: #9e9e9e;
      }
    }
  }

  #tela-em-desenvolvimento {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}

@media (max-width: 1023px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      section {
        align-items: center;
      }
    }
  }
}
