<main>
  <header>
    <img ngSrc="assets/ifood-logo-branca.png" width="170" height="90" priority>
    <h1>Meus Relatórios</h1>

  </header>
  <section id="search-bar">
    <form [formGroup]="formPesquisa">

      <mat-form-field appearance="outline">
        <mat-label>Pesquisar</mat-label>
        <input matInput type="text" formControlName="pesquisa" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data de Criação</mat-label>
        <input matInput type="date" formControlName="dataCriacao" required/>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <select matNativeControl required formControlName="status">
          <option value=""></option>
          <option value="finalizado">Finalizado</option>
          <option value="em-progresso">Em Progresso</option>
          <option value="a-fazer">A Fazer</option>
        </select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Prioridade</mat-label>
        <select matNativeControl required formControlName="prioridade">
          <option value=""></option>
          <option value="alta">Alta</option>
          <option value="media">Média</option>
          <option value="baixa">Baixa</option>
        </select>
      </mat-form-field>
    </form>
    <section id="search-buttons">
      <button id="botao">Pesquisar</button>
      <div id="tipo-de-visualizacao">
        <button><img ngSrc="assets/Lista.png" width="29" height="28"></button>
        <button><img ngSrc="assets/Grade.png" width="29" height="28"></button>
      </div>
    </section>
  </section>
  <section id="tabela-relatorios">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element" id="finalizado"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="dataCriacao">
          <th mat-header-cell *matHeaderCellDef> Data de Criação </th>
          <td mat-cell *matCellDef="let element"> {{element.dataCriacao}} </td>
        </ng-container>

        <ng-container matColumnDef="duracao">
          <th mat-header-cell *matHeaderCellDef> Duração </th>
          <td mat-cell *matCellDef="let element"> {{element.duracao}} </td>
        </ng-container>

        <ng-container matColumnDef="prioridade">
          <th mat-header-cell *matHeaderCellDef> Prioridade </th>
          <td mat-cell *matCellDef="let element" id="prioridade-alta"> {{element.prioridade}} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef> Usuário </th>
          <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</main>
