main {
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #EA1D2C;
    height: 16.3rem;

    h1 {
      padding: 0 10.7rem;
      align-self: flex-start;
      font-size: 4rem;
      color: white;
    }
    img {
      margin-top: 2.1rem;
    }
  }

  #search-bar {
    display: flex;
    justify-content: center;
    margin-top: 4.1rem;
    gap: 8.5rem;

    form {
      display: flex;
      gap: 5rem;
    }
  }
  #search-buttons {
    display: flex;
    align-content: center;
    gap: 2rem;
    #botao {
      font-size: 1.6rem;
      font-weight: 700;
      max-height: 5.5rem;
      padding: 0 3.6rem;
      color: #FFFFFF;
      background: #EA1D2C;
      border-radius: 5px;
    }
    #tipo-de-visualizacao {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 6px;
      padding-bottom: 0;
      max-height: 5.5rem;
    }
  }

  #tabela-relatorios {
    margin: 0 10rem;
    th {
      background: #FFEAEA !important;
    }

    #finalizado {
      background: #CBFFC2;
      color: #20A91D;
    }

    #prioridade-alta {
      background: #FFC2C2;
      color: #A91D1D;
    }
  }
}
