<main>
  <section id="area-imagem">
    <img ngSrc="assets/imagem-login.png" width="852" height="633" priority>
  </section>

  <section id="area-login">
    <main>
      <div>
        <h1>Olá,</h1>
        <span>Bem vindo de volta ao iFlow</span> <br>
        <span>email: admin&#64;admin.com</span> <br>
        <span>senha: admin</span>
      </div>
      <form [formGroup]="loginFormGroup">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
            <button matPrefix mat-icon-button disabled><fa-icon [icon]="faUser"></fa-icon></button>
            <input matInput formControlName="email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <button matPrefix mat-icon-button disabled><fa-icon [icon]="faLock"></fa-icon></button>
          <input matInput formControlName="senha" type="password">
        </mat-form-field>
      </form>

        <button mat-raised-button [disabled]="loginFormGroup.invalid" (click)="entrar(loginFormGroup)" id="botao-login">Entrar</button>
        <button disabled id="botao-ifood"><span><img ngSrc="assets/ifood-logo.png" width="42" height="42" priority> Conecte-se com o Ifood</span></button>
        <a routerLink="/criar-conta" id="botao-criar-conta">crie sua conta</a>
    </main>
  </section>
</main>
